<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="<%=element%>">
    <template>
        <style include="">
            :host {
                @apply(--flex);
                @apply(--flex-grow);
            }
        </style>
        <my-nav></my-nav>
    </template>
    <script>
        class <%=_class%> extends Polymer.Element {
            static get is() {
                return '<%=element%>';
            }

            static get properties() {
                return {
                    app: {
                        type: Object,
                        value: function() {
                            return App;
                        }
                    },
                    data: {
                        type: Object,
                        value: function() {
                            return App.data;
                        }
                    },
                    hidden: {
                        type: Boolean,
                        value: true
                    }
                }
            }

            toggle() {
                this.hidden = !this.hidden;
            }
        }

        window.customElements.define(<%=_class%>.is, <%=_class%>);
    </script>
</dom-module>
